/* #727D71
#FF9B42
#FF4000
#F4F3EE
#13262F 
#312509*/

* {
	color: #13262f;
	font-family: "Fira Sans", sans-serif;
}

body {
	height: 95vh;
	width: 95vw;
	background-color: #f4f3ee;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	height: 90%;
	margin: 1px;
	padding: 5% 10% 5% 10%;

	overflow: hidden;
}

#info-panel {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 50%;
	height: 80%;
}

#project-description {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	height: 100%;

	overflow: hidden;
	overflow-x: scroll;
}

.project-panel {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 100%;

	font-size: 14px;
	/* line-height: 25px; */

	/* transition: opacity 0.2s;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0s;
	transition-property: opacity; */
}

.project-panel p {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-right: 59%;
	width: 100%;
}

#about-image {
	width: 40%;
	padding: 10px 0px 10px 0px;
}
.git-icon {
	width: 30px;
}
#about-info {
	width: 500px;
}

.about-text {
	height: 250px;
	padding-right: 200px;

	font-size: 16px;
	/* line-height: 30px; */
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-content: flex-start;

	width: 100%;
	height: 20%;
	overflow: hidden;

	animation: 2.2s ease-out 0s 1 headerSlideIn;
}

.name-title {
}
.name {
	width: 606px;
	font-size: 60px;
	line-height: 52px;
	margin: 0px;
	margin-bottom: 5px;
}

.title {
	width: 606px;
	color: #ff4000;
	font-size: 40px;
	margin: 0px;
}

/* .header button {
	display: flex;
	align-items: flex-end;
	width: 120px;
	height: 48px;
	border: hidden;
	background-color: transparent;

	line-height: 36px;
	font-size: 20px;
	text-align: left;

	cursor: pointer;

	transition: all 300ms ease-out;
	transform-origin: bottom left;

	animation: 3s ease-out 0s 1 slideInFromBottom;
	animation-delay: 2s;
} */

/* .menu-buttons {
	display: flex;
	flex-direction: column;

	transition: all 2s ease-in-out;
} */

.buttonSlideUp {
	/* transition: all 2s ease-in-out;
	transform: translateY(0px); */

	animation: 3s ease-out 0s 1 slideInFromBottom;
}

/* .header button:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: all 300ms ease-in;
} */

.description {
	width: 600px;
	font-weight: 600;
	font-size: 18px;
	/* line-height: 35px; */
}

.learnings {
	width: 600px;
	font-size: 16px;
	/* line-height: 25px; */
}

#project-slider {
	display: flex;
	flex-direction: column;
	width: 0%;
	height: 80%;
	margin: 0px;

	overflow: scroll;
	overflow-x: hidden;
}

.nav-item {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	width: 85%;
	margin: 1px;
	cursor: pointer;
}

.nav-item img {
	width: 50%;
}

#nav-title {
	width: 50%;
	font-size: 20px;
	font-weight: bold;
}

#nav-title.left {
	text-align: end;
}

.nav-panel img {
	max-width: 400px;
}

@keyframes headerSlideIn {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes aboutSlideIn {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(60%);
	}
}

@keyframes aboutSlideOut {
	0% {
		transform: translateX(60%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(250%);
	}

	60% {
		transform: translateY(250%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes navSlideIn {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes navSlideOut {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(150%);
	}
}
