/* #727D71
#FF9B42
#FF4000
#F4F3EE
#13262F 
#312509*/

* {
	font-family: "Fira Sans", sans-serif;
}

body {
	height: 95vh;
	width: 95vw;
	background-color: #f4f3ee;
	overflow: hidden;

	font-size: calc(8px + 0.5vw);
	color: #13262f;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 95%;
	height: 90%;
	margin: 1px;
	padding: 5% 5% 5% 3%;

	overflow: hidden;
}

#project-panels {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 50%;
	height: 80%;

	position: relative;
	left: 25%;
}

.panel {
	display: none;
	flex-direction: row;
	padding-top: 35px;

	animation: 0.5s ease-out aboutFadeIn;
}

.project-image {
	width: 25em;
	height: 25em;
	-webkit-box-shadow: 12px 12px 4px -6px rgba(0, 0, 0, 0.42);
	-moz-box-shadow: 12px 12px 4px -6px rgba(0, 0, 0, 0.42);
	box-shadow: 12px 12px 4px -6px rgba(0, 0, 0, 0.42);
}

.panel-description {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	align-content: space-between;

	box-sizing: border-box;
	padding: 0 8% 0 2%;

	font-size: 0.92em;
}

.panel-description p {
	margin-top: 0px;
}

.panel-description a:hover {
	color: #ff4000;
	animation: 0.5s ease-out hoverJump forwards;
}

.pages-link {
	padding-left: 1em;
}

#about-text-git-img p {
	font-size: 1.5em;
	margin: 0px;

	padding-right: 8%;
}

.git-icon {
	width: 12%;
	padding-right: 3%;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-content: flex-start;

	min-width: 100%;
	height: 20%;
	overflow: hidden;

	animation: 2s ease-out 0s 1 headerSlideIn;
}

.name-title {
	width: 24.5%;
}
.name {
	width: 606px;
	font-size: 3.7rem;
	line-height: 50px;
	margin: 0px;
	margin-bottom: 5px;
}

.title {
	width: 606px;
	color: #ff4000;
	font-size: 2.5rem;
	margin: 0px;
}

.header button {
	display: flex;
	align-items: flex-end;
	width: 120px;
	height: 48px;
	border: hidden;
	background-color: transparent;

	line-height: 36px;
	font-size: 1em;
	text-align: left;

	cursor: pointer;

	transition: all 300ms ease-out;
	transform-origin: bottom left;

	animation: 3s ease-out 0s 1 slideInFromBottom;
}

.menu-buttons {
	display: flex;
	flex-direction: column;

	transition: all 2s ease-in-out;
}

.buttonSlideUp {
	transition: all 2s ease-in-out;
	transform: translateY(0px);
}

.header button:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: all 300ms ease-in;
	color: #ff4000;
}

#project-slider {
	display: none;
	flex-direction: column;
	width: 50%;
	height: 80%;
	margin: 0px;

	overflow-x: visible;
}

.nav-item {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: center;

	width: 85%;
	height: 16%;
	margin: 1px;

	cursor: pointer;
}

.nav-title {
	margin: 0px;
	width: 100%;
	height: 100%;
	font-size: 8em;
	font-weight: bold;
	letter-spacing: -0.075em;
	white-space: nowrap;
}

.nav-title:hover {
	color: #ff4000;
	animation: 0.5s ease-out hoverJump forwards;
}

.nav-panel img {
	max-width: 400px;
}

@keyframes headerSlideIn {
	0% {
		transform: translateX(-30%);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes aboutSlideOut {
	0% {
		left: 25%;
	}
	100% {
		left: 0%;
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(250%);
	}

	60% {
		transform: translateY(250%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes navSlideIn {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes aboutFadeIn {
	0% {
		opacity: 0;
		transform: translateY(3%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes hoverJump {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-5%);
	}
}
