/* REF https://vanholtz.co/ */

/* #727D71
#FF9B42
#FF4000
#F4F3EE
#13262F */

* {
	color: #13262f;
	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: #f4f3ee;
}

.container {
	display: flex;
	flex-direction: row;
	/* width: 95vw; */
	height: 95vh;
	margin: 1px;
	overflow: hidden;
}

.info-panel {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding-left: 150px;
	width: 50%;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap;

	height: 160px;
}

.name {
	font-size: 60px;
	line-height: 50px;
	margin: 0px;
}

.title {
	/* color: #fc7a1e; */
	color: #ff4000;
	font-size: 40px;
	margin: 0px;
}

.header button {
	width: 50%;
	height: 48px;
	border: hidden;
	background-color: #f4f3ee;

	font-size: 20px;
	text-align: left;

	cursor: pointer;
}

.description {
	width: 600px;
	font-weight: 600;
	font-size: 25px;
	line-height: 35px;
}

.learnings {
	width: 600px;
	font-size: 18px;
	line-height: 25px;
}

.nav-panel {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 150px;
	margin: 0px;

	/* background-color: #6d4c3d; */

	overflow: scroll;
	overflow-x: hidden;

	visibility: hidden;
}

.nav-item {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 800px;
	margin: 1px;
	cursor: pointer;
}

#nav-title {
	width: 50%;
	font-size: 20px;
	font-weight: bold;
	padding-left: 25px;
}

#nav-title.right {
	text-align: end;
}

.nav-panel img {
	max-width: 400px;
}
